.white-key {
    height: 400px;
    width: 100px;
    border: 1px solid black;
    border-color: black;
}

.black-key {
    height: 240px;
    width: 50px;
    margin-left: -25px;
    margin-right: -25px;
    z-index: 2;
    border: 2px solid black;
    border-color: black;
}